.color-1 {
	color: #F5FFFA;
}

body {
	color: white;
	font-family: 'Oxygen', sans-serif;
	font-weight: 100;
	margin: 0;
	background-image: url(../img/background.jpg);
}

/* index.html */
.title {
	text-align: left;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
	color: white;
}

.supporttitle {
	text-align: center;
	font-size: 15pt;
	color: white;
}

#resumeicon {
	display: inline;
	max-width: 40px;
}

#resume {
	display: inline;
	align-content: center;
	max-width: 50%;
	max-height: 50%;
}

.name {
	text-align: center;
  font-weight: 300;
	margin-bottom: 0px;
	font-size: 64pt;
}

.tagline {
	text-align: center;
	font-size: 35pt;
	margin-top: 0px;
	border-bottom: 1px solid;
}

.header {
	font-size: 25pt;
	padding-top: 1em;
}

.descriptext {
	text-align: left;
	font-weight: 200;
	font-size: 20pt;
}

.resume {
	text-align: left;
	font-size: 15pt;
}

.headshot {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: block;
  margin: 20px auto;
	text-align: center;
}

.pgtitle {
	text-align: center;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
	color: white;
}

.aboutme {
	color: white;
}

.pgname {
	text-align: center;
  font-weight: 300;
	margin-bottom: 0px;
	font-size: 40pt;
	border-bottom: 1px solid;
}

p {
	text-indent: 50px;
}

.contact {
	text-align: center;
	color: white;
	font-size: 20pt;
}

#contacticon {
	display: inline;
	max-width: 20px;
	max-height: 30px;
}

.disclaim {
	font-size: 10pt;
	text-align: center;
}

.sectiontitle {
	font-size: 25pt;
	text-transform: uppercase;
	color: Salmon;
}

.educationDark {
	text-align: left;
	background-color: DimGray;
	padding-top: 15px;
	padding-bottom: 25px;
	font-weight: bold;
}

.educationLight {
	text-align: left;
	background-color: Silver;
	padding-top: 15px;
	padding-bottom: 25px;
	font-weight: bold;
}

.schoolname {
	font-size: 15pt;
	text-indent: 50px;
}

.schoolinfo {
	font-size: 10pt;
	text-indent: 100px;
}

.regularline {
	font-size: 10pt;
	text-indent: 100px;
}

.projectSection {
	color: white;
}
