.color-1 {
	color: #F5FFFA;
}

body {
	color: white;
	font-family: 'Oxygen', sans-serif;
	font-weight: 100;
	margin: 0;
	background-image: url(../img/background.jpg);
}

#resumeicon {
	display: inline;
	max-width: 40px;
}

#resume {
	display: inline;
	align-content: center;
	max-width: 50%;
	max-height: 50%;
}

.title {
	text-align: left;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
}

.name {
	text-align: center;
  font-weight: 300;
	margin-bottom: 0px;
	font-size: 64pt;
}

.tagline {
	text-align: center;
	font-size: 35pt;
	margin-top: 0px;
	border-bottom: 1px solid;
}

.header {
	font-size: 25pt;
	padding-top: 1em;
}

.education {
	text.align: left;
	font-size: 25pt;
}

.descriptext {
	text-align: left;
	font-weight: 200;
	font-size: 20pt;
}

.resume {
	text-align: left;
	font-size: 15pt;
}

.headshot {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: block;
  margin: 0 auto;
}

/* Add a white background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
		/* color is gray */
    background-color: #ddd;
		transform: scale(1.2);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: salmon;
    color: white;
}

.pgtitle {
	text-align: center;
	font-size: 36pt;
	min-width: 415px;
	overflow: visible;
	margin-bottom: 40px;
}

.pgname {
	text-align: center;
  font-weight: 300;
	margin-bottom: 0px;
	font-size: 40pt;
	border-bottom: 1px solid;
}

.supporttitle {
	text-align: center;
	font-size: 25px;
}

p {
	text-indent: 50px;
}

.contactelement {

}
